.lt_sort{
    background-color: #eee;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;

}
.lt_sort a{
    /*浮动无间隙*/
    float: left;
    width: 25%;
    height: 30px;
    color: #666;
}
.lt_sort a.current{
    color: #FF8C00;
}
.lt_product .loading{
    height: 150px;
    width: 150px;
    border: 3px solid #069;
    position: absolute;
    left: 50%;
    top: 150px;
    animation: rotate 1s infinite ease-in-out
}
@keyframes rotate {
    0% {
        transform:  translate(-50%) rotate(0)
    }
    100% {
        transform:  translate(-50%) rotate(360deg);
}

}
